body {
  background-color: blanchedalmond;
}
h1 {
  text-align: center;
  color: maroon;
}
a {
  color: olive;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
p {
  text-align: center;
}
ul {
  display: flex;
  justify-content: space-evenly;
}
li {
  display: inline;
}
img {
  display: block;
  margin: 0 auto;
}
.email-link {
  color: teal;
}
